.DTWH, .DTWH * {
    box-sizing: border-box !important;
}

.DTWH-mark {
    background: yellow !important;
    cursor: help;
}

.DTWH-snippet {
    cursor: initial;
    position: absolute;
    width: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px;
    border: 1px solid #CCC;
    background: white;
    z-index: 999;
    font-size: 13px;
    line-height: 1.2em;
    font-family: serif;
    box-shadow: 0px 2px 15px -3px;
    border-radius: 3px;
    max-height: 50px;
    opacity: 0.2;
    transition: all 0.2s ease;
    left: -10px;
}

.DTWH-mark:hover .DTWH-snippet {
    max-height: 400px;
    opacity: 1;
    transition: all 0.2s ease;
}

.DTWH-mark {
    position: relative;
    display: inline-block;
}